.container{
    display: flex;
    flex-direction: row;
}

.item-1{
    flex: 1;
}

.item-2{
    flex:1;
    background-color: bisque;

}
.i1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    
}

.i2{
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    padding-top: 60px;
    padding-bottom: 30px;
 
    
}

.i3{
    text-align: center;
    font-size: 250%;
    line-height: 0.2;
    
    

}

.i4{
    text-align: center;
    padding-top: 30px;

}

body{
    margin: 0px;
    padding: 0px;
}

button{

    padding: 20px;
}

.a1{
    text-align: center;
    margin-top: 100px;


}
.about{
    background-color: aliceblue;
    text-align: center;
    padding: 100px;

}
.photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px;
    background-color: aqua;
    
}
.p1{
    
    width: 400px;
    
}
.p11{
    width: 400px;
}
.port{
    display: flex;
    flex-direction: row;
}
.c1{
    flex: 1;
}
.c2{
    flex: 1;
    background-color: beige;
    text-align: center;
}
.b1{
    margin-top: 200px;
}
h3{
    margin-top: 75px;
}
.feed{
    display: flex;
    flex-direction: row;
    background-color: aqua;

}
.f1{
    flex: 1;
    text-align: center;
   

}
.f2{
    flex: 1;
    text-align: center;
   
    
}
.f3{
    flex: 1;
    text-align: center;
   
}
.aaa{
    margin-top: 300px;
}
h2{
    margin-top: 175px;
    margin-bottom: 100px;
}
.end{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
.e1{
    flex: 1;
    margin-top: 300px;
}
.e2{
    flex: 1;
    margin-top: 300px;
}
.e3{
    flex: 1;
    position: relative;
    bottom: -350px;
    
}
